<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
    <meta charset="ISO-8859-1"/>
    <title>Edit Merchant</title>

</head>
<body>
<div align="center">
	<h1>Edit Merchant</h1>
	<br/>
	<form action="#" th:action="@{/merchant}" th:object="${edit_merchant}" method="post">
		<table border="1">
			<tr>
				<td>Merchant ID</td>
				<td><input type="text" th:field="*{id}" readonly="readonly" /></td>
			</tr>
			<tr>
				<td>Merchant Code</td>
				<td><input type="text" th:field="*{merchant_code}" /></td>
			</tr>
			<tr>
				<td>Merchant Name</td>
				<td><input type="text" th:field="*{merchant_name}" /></td>
			</tr>
			<tr>
				<td>Description</td>
				<td><input type="text" th:field="*{description}" /></td>
			</tr>
			<tr>
				<td colspan="2"><button type="submit">Edit</button></td>
			</tr>
		</table>
	</form>	
</div>

</body>
</html>
